#canon{
    animation: shoot 2s infinite;
}

@keyframes shoot{
  50% {
    transform: translateX(-100px)
    }
}

#bullet{
  animation: exit 2s infinite;
}

@keyframes exit{
  25% {
    transform: translateX(50px)
    }
50% {
  transform: translateX(100px)
  }
}