#title {
	font-size: 36px;
	text-align: center;
	line-height: 80px;
	color: #fff;
	background-color: #333;
	padding: 10px;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(255, 255, 255, 0.3);
  }
  
#content {
	display: block;
	margin: 20px auto;
	width: 300px;
	height: 75px;
	font-size: 18px;
	margin-top: 10px;
	color: #fff;
	background-color: #333;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	}

	.game-over {
		color: white;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size: 36px;
	}
	

  .menu-object {
	display: block;
	margin: 20px auto;
	width: 300px;
	height: 75px;
	font-size: 18px;
	margin-top: 10px;
	color: #333;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	transition: all 0.3s ease-in-out;
  }
  
  .menu-object:hover {
	font-size: 20px;
	width: 325px;
	height: 85px;
	background-color: #ccc;
	box-shadow: none;
  }
  
  .menu-object:active {
	font-size:22px;
	  width:275px;
	  height:70px;
	  background-color:#ddd;
	  box-shadow:none
  }
  .other-text {
	margin: 20px auto;
	width: 300px;
	height: 75px;
	font-size: 18px;
	margin-top: 10px;
	text-align: center;
	color: #333;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	transition: all 0.3s ease-in-out;
  }
  
  body {
	  background-image:url('background.jpg');
	  background-repeat:repeat;
	  background-size:cover;
	  background-position:center
  }
  
  h1 {
	  color:#fff;
	  text-align:center;
	  font-size: 50px;
  }

p {
	color: white;
	font-size: 30px;
  }
  

  #canon.shoot {
	animation: shoot 2s infinite;
  }
  
  @keyframes shoot {
	50% {
	  transform: translateX(-100px);
	}
  }
  
  #bullet.exit {
	animation: exit 2s infinite;
  }
  
  @keyframes exit {
	25% {
	  transform: translateX(50px);
	}
	50% {
	  transform: translateX(100px);
	}
  }
  

svg {
	display: block;
	margin: auto;
	scale: 0.5;
  }
  

